body {
    background-image: url(../css/images/darkness/darkness.png);
    height: 100%;
}

.header {
    text-align: center;
    background-color:whitesmoke;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.content {
    background-color: whitesmoke;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.crystalImage {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.container {
    text-align: center;
    margin-top: 40px;
}

.status {
    text-align: center;
    background-color: whitesmoke;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 20px;
}